doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Angular Planets
    link(rel='stylesheet', href='css/style.css')
  body
    header.header.header--dark
      h1 TITLE
      p Description
    section.search.search--grey
      input.search__input(input='', type='search', placeholder='Search', name='search')
    table.table
      thead.table__head.table__head--turquoise
        tr.table__row
          th name
          th populations
          th diameter
          th rotation period
          th orbital period
          th terrain
          th films
      tfoot
        tr.table__row
          td.table__foot.table__foot--grey(colspan='7')
      tbody.table__body.table__body--grey
        tr.table__row
          td x
          td x
          td x
          td x
          td x
          td x
          td x
    ul
      li First
      li ◄
      li {1}
      li {2}
      li ...
      li ►
      li Last
