doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="Angular Planets"

    link(rel="stylesheet" href="css/style.css")

  body
    header
      h1 TITLE
      p Description
