doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="Angular Planets"

    //- link(rel="stylesheet" href="css/style.css")

  body
    header
      h1 TITLE
      p Description
    section
      input(input type="text" placeholder="Search" name="search")
    table
      thead
        tr
          th name
          th populations
          th diameter
          th rotation period
          th orbital period
          th terrain
          th films
      tfoot
      tbody
        tr
          td
          td
          td
          td
          td
          td
          td
    ul
      li First
      li ◄
      li {1}
      li {2}
      li ...
      li ►
      li Last
