.header--dark
  background-color: $black
  color: $white

.search--grey,
.table__foot--grey
  background-color: $grey
  color: $grey--dark

.table__head--turquoise
  background-color: $turquoise
  color: $white

