@media screen and (max-width: 868px)
  header
    h1
      font-size: 60px
    p
      font-size: 35px
  .search
    .fa-search
      font-size: 37px
    .search__input
      font-size: 36px
      padding: 4px 4px 4px 45px
      width: 94vw
  .table
    font-size: 17px
    display: block
    overflow: auto
    width: 97.5vw
  .pagination
    button
      font-size: 37px

@media screen and (max-width: 450px)
  header
    h1
      font-size: 45px
    p
      font-size: 20px
  .table
    width: 96.5vw
    font-size: 12px

  .table__head
    th
      padding: 1px

  .pagination
    button
      margin: 1px
      font-size: 24px
