.search
  .search__input
    border: 0
    margin: 10px
    font-size: 30px
    border-radius: 5px
    padding: 6px
    padding-left: 35px
    width: 25vw
  .fa-search
    transform: translate(16px, 16px)
    font-size: 30px
    position: absolute

.table
  width: 97.5vw
  margin: 10px
  font-size: 20px
  text-align: center
  .sort
    cursor: pointer
  .table__head
    text-transform: uppercase
    margin-bottom: 5px
    th
      padding: 2vw
  .table__row td
    padding-top: 15px
  tfoot
    td
      padding: 15px

.pagination
  padding: 0 15px 15px 0
  float: right
  button
    font-size: 20px
